*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f3f3;
}
/* commone */
.contenar{
    width: 1200px;
    margin: 0 auto;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.089);
    margin:  40px;
    border-radius: .5px;
}
/*-------------------------------- 
header style start
 ------------------------------*/

/*----------- navber style start--------- */
nav{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.site-name h2{
    font-size: 24px;
    color: #3A3A3A;
    font-weight: 700;
}
.manu{
    display: flex;
}
.manu-item{
    list-style: none;
    margin-left: 30px;
}
.manu-item a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    padding: 10px;
    font-weight: 700;
   cursor: pointer; 
}
/*----------------- banner style start--------------- */
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
     grid-gap: 40px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 52px;
    font-weight: 700;
}
.animation-text{
    font-size: 75px;
    position: relative;
    color: transparent;
    
}
.animation-text::before{
    content: "Influencer";
    position: absolute;
    top: 0;
    left: 0;
    color: #E02C6D;
    animation: typing 5s linear;
}
@keyframes typing{
    0%{
        content: "I";
    }
    10%{
        content: "In";
    }
    20%{
        content: "Inf";
    }
    30%{
        content: "Infl";
    }
    40%{
        content: "Influ";
    }
    50%{
        content: "Influe";
    }
    60%{
        content: "Influen";
    }
    70%{
        content: "Influenc";
    }
    80%{
        content: "Influence";
    }
    90%{
        content: "Influencer";
    }
    100%{
        content: "Influencer";
    }
}
.banner-left p{
    font-size: 16px;
    margin: 10px 0;
    line-height: 2em;
}
.banner-left button{
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 24px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.banner-right img{
    width: 100%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
}
/*----------------- brand logs style start--------------- */
.brand-logs{
   display: flex;
   justify-content: space-around;
}


/*----------------------- --------
header style end 
---------------------------------*/




/*-------------------------------------
 main style start------------------- */


 
 /* ---------collection-title style start--------------*/

 
 .collection-title{
     color: #3A3A3A;
     font-size: 28px;
     font-weight: 600;
     text-align: center;
     margin: 50px;
 }
 /*------------ card section style start-------------- */
 .card-section{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 60px;
 }
 .card{
     background-color: #fff;
     width: 329px;
    height: 476px;
    border-radius: 15px;
 }
 .card-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    
 }
 .card-photo img{
     width: 100%;
 }
.card-info h2{
    font-size: 28px;
    font-weight: 600;
    margin: 5px 0;
    color: #E02C6D;
}
.card-info h3{
    font-size: 24px;
    font-weight: 500;
    margin: 5px 0;
}
small{
    margin: 5px 0;
}
.fa-star.filled{
    color: goldenrod;
}
.fa-star.empty{
    color: #3A3A3A;
}
.rating{
    margin-left: 10px;
}
.card-info p{
    font-size: 16px;
    margin: 5px 0;
}

/* button style start */
.button{
    display: flex;
    justify-content: flex-end;
}
.button button{
    border: none;
    color: #E02C6D;
    font-size: 24px;
    margin-top: 40px;
    margin-right: 35px;
    padding: 5px;
    cursor: pointer;

}

/*---------------------- 
bonus seaction style
------------------------- */
.bonus{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
    margin: 100px 0;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.cannected{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.cannected h1{
    font-size: 28px;
    margin: 20px 0;
}
.cannected h2{
    font-size: 24px;
    margin: 10px 0;
}
.cannected p{
    font-size: 16px;
    margin: 10px 0;
}
.bonus-manu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bonus-manu-list-itam{
    list-style: none;
}
.bonus-manu-list-itam a{
    text-decoration: none;
    color: rgba(132, 160, 236, 0.863);
}

.paymant{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paymant img{
    width: 100%;
}
 /*----------------------------------------
  footer style start
  ------------------------------------ */
footer{
    background-color:rgb(3, 3, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foorer{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.footer h2{
    color: #E02C6D;
    font-size: 24px;
    text-align: center;
    padding:30px 0 ;
}
.footer p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.footer-icon{
    display: flex;
    justify-content: center;
}
.footer-icon-itam{
    padding: 10px 0 30px ;

}
.footer-icon-itam a{
    color: #fff;
    margin: 10px;
    font-size: 28px;
}
/*--------------------------------------------
 Responsive section style(media queries)
 ------------------------------------ */

 /*-------------- Tablte devices -------------*/
  
 @media screen {
     
 } screen and (max-width: 850px;) {
     
 }{
     .banner{
         grid-template-columns: 1fr;
         width: 100%;
     }
     .card-section{
         grid-template-columns: 1fr 1fr;
         width: 100%;
     }
      .bonus{
          grid-template-columns: 1fr 1fr;
          width: 100%;
      }
      .banner-left{
          order: 2;
      }

 }
 @media (max-width:700px;){
    .card-section{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
     .bonus{
         grid-template-columns: 1fr;
         width: 100%;
     }

 }

 
